<!DOCTYPE html>
<html>
  <head>
    <title>{{{profile.publicName}}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300;1,400&display=swap" rel="stylesheet">
    {{{ __style__ }}}
  </head>
  <body>
    <div class="container main">
      <div class="row">
        <div class="col-md-4 section1">
          <div class="img">
            <img src="{{{profile.picture}}}"  alt="profile-picture">
          </div>

          <div class="sect1-cont">
            <div class=" skil-header">
              <h2>{{{knowledge.label}}}</h2>
              <div class="skill_cont">
                {{#each knowledge.skillsPercentage}}
                <p>{{{this.name}}}</p>
                <div class="skill_container">
                  <div class="skill {{this.id}}">
                    <span>{{{this.levelPercentage}}}%</span>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
            <br /><br /><br /><br /><br /><br />
            <div class="education">
              <h2>{{{education.label}}}</h2>
              {{#each education.institutions}}
              <div class="edu_cont">
                <p>{{{this.name}}}</p>
                <h3>{{{this.type}}}</h3>
                <span>{{{this.duration}}}</span>
              </div>
              {{/each}}
            </div>
            <div class="contact">
              <h2>Contact</h2>
              <ul class="social-ul">
                <li>
                  <img src="image/address1.png" class="small-icon">
                  <p>Xyx Street <br> AbC city </p>
                </li>
                <li>
                  <img src="image/ph1.png">
                  <p>0317-6695897</p>
                </li>
                <li>
                  <img src="image/mail.png">
                  <p>www.youremail@server.com</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8 section2">
          <div class="heading">
            <div class="mainhead">
              <h1>{{{profile.publicName}}}</h1>
              <h4>{{{profile.description}}}</h4>
            </div>
          </div>
          <div class="info">
            <div class="heading">
              <h2>{{{profile.label}}}</h2>
            </div>
            <p>{{{profile.introduction}}}</p>
          </div>
          <div class="exp">
            <div class="heading">
              <h2>{{{workExperience.label}}}</h2>
            </div>
            {{#each workExperience.jobs}}
            <div class="exp-cont">
              <div class="exp-year">
                <span>{{{this.start}}} - {{{this.end}}}</span>
              </div>
              <div class="exp-detail">
                <h3>{{{this.companyName}}} | {{{this.title}}}</h3>
                <h6>{{{this.description}}}</h6>
                {{#each this.achievements}}
                <p>{{{this.title}}}</p>
                <ul>
                  {{#each this.descriptions}}
                  <li>{{{this}}}</li>
                  {{/each}}
                </ul>
                {{/each}}
              </div>
            </div>
            {{/each}}
          </div>
          <div class="reffrence">
            <div class="heading">
              <h2>Reference</h2>
            </div>
            <div class="ref_cont">
              <b>Reference Name</b>
              <h4>Job Title</h4>
              <span>Company Name</span>
              <p>+923043554353</p>
            </div>
            <div class="ref_cont">
              <b>Reference Name</b>
              <h4>Job Title</h4>
              <span>Company Name</span>
              <p>+923043554353</p>
            </div>
            <div class="ref_cont">
              <b>Reference Name</b>
              <h4>Job Title</h4>
              <span>Company Name</span>
              <p>+923043554353</p>
            </div>
            <div class="ref_cont">
              <b>Reference Name</b>
              <h4>Job Title</h4>
              <span>Company Name</span>
              <p>+923043554353</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>